extends layout

block content
    .container
        .row
            .col-md-6
                strong Add New
                form(action="/edit", enctype="multipart/form-data", method="post")
                    .form-group
                        label(for="title") Title
                        input#title.form-control(name="title")
                    input#from(type="hidden", name="from", value="index")
                    button.btn.btn-default(type="submit") Edit
            .col-md-6
                    each val in articles
                        form#article-form(action="/edit", enctype="multipart/form-data", method="post")
                            label= val.name
                            input#articleId(type="hidden", name="articleId", value="#{val.md5}")
                            input#from(type="hidden", name="from", value="index")
                            button.btn.btn-default(type="subimt") Edit
