extends layout

block additional-js

block content
    .container
        .row
            .col-md-4
                strong Add New
                form(action="/edit", enctype="multipart/form-data", method="post")
                    .form-group
                        label(for="title") Title
                        input#title.form-control(name="title")
                    input#from(type="hidden", name="from", value="index")
                    button.btn.btn-default(type="submit") Edit
            .col-md-8
                strong Articles
                #article-table
                    each val in articles
                        .row
                            form#article-form(action="/edit", enctype="multipart/form-data", method="post")
                                .col-md-4= val.datetime
                                .col-md-4
                                    a(href="#{val.link}", target="_blank"): span.article-title= val.title
                                    input#articleId(type="hidden", name="articleId", value="#{val.id}")
                                    input#from(type="hidden", name="from", value="index")
                                .col-md-4
                                    div(align="right"): button.btn.btn-default(type="subimt") Edit
