doctype html
html
    head
        title Diary
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css")
        script(type="text/javascript", src="js/jquery-2.1.1.min.js")
        script(type="text/javascript", src="js/bootstrap.min.js")
        block additional-js
    body
        block content
